# dependencies required for documentation
sphinx_rtd_theme
torch
torchmetrics
setuptools
sphinxcontrib-bibtex
scikit-learn
matplotlib
sphinx_gallery
ray[default]
tensorboard
attridict
dtaidistance
gdown
numpy
pandas
tenseal
huggingface_hub
ogb
-e .
